.button {
    -fx-background-color:  #e6ffe6;
    -fx-font-family: Helvetica;
    -fx-font-size: 25px;
}

.button:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}
.button:selected{
    -fx-background-color: #009900;
    -fx-text-fill: white;
}

.table-view{
    -fx-background-color:  #e6ffe6;
    -fx-font-family: Helvetica;
    -fx-font-size: 25px;
}

.text-area{
    -fx-background-color:  #e6ffe6;
    -fx-font-family: Helvetica;
    -fx-font-size: 25px;
}